.submenu-item
    display: flex
    align-items: center
    justify-content: flex-start
    font-weight: 400
    font-size: 18px
    line-height: 30px
    cursor: pointer
    margin-top: 22px
    
.submenu-item-arrow
    display: block
    margin-top: 3px